<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="member_login" style="height: 10rem; width: 36rem;">
        <h1 style="width: 40rem;">Welcome to Neverland</h1>
        <p style="margin-left: 8rem;">Please <a href="/login">Login</a> or <a href="/signup">Signup</a></p>
    </div>
</body>
<!-- <script>
    window.addEventListener("beforeunload", function (event) {
      // Cancel the event
      event.preventDefault();
      // Chrome requires returnValue to be set
      event.returnValue = "";

      // Show a confirmation dialog
      var confirmationMessage = "Bhai Sache Reload karvu che??";
      event.returnValue = confirmationMessage;
      return confirmationMessage;
      // Gecko and WebKit
      // Gecko and Trident
    });
  </script> -->
</html>

